body{font-size:3em;font-family:sans-serif;font-weight:bold;margin:0;padding:0;background:#000;color:#fff;}
ul{list-style:none;}
input{font-size:1em;font-family:sans-serif;}
.trigger0{color:#97AAB3;}
.trigger1{color:#7499FF;}
.trigger2{color:#FFC859;}
.trigger3{color:#FFA059;}
.trigger4{color:#E97659;}
.trigger5{color:#E45959;}
span.time{font-size:0.5em;width:6em;display:inline-block;text-align:right;}
span.hostname{font-size:2em;display:inline-block;margin:0 0.4em;}
#alertlist li{font-size:0.7em;}
